<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Eval</title>
    </head>

    <body>
        <header>
            <div class="logo">
                NLP Eval
            </div>
        </header>

        <main>
            <section>
                <form id="form" class="" onsubmit="return handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter an article's url">
                    <input class="button button-light" id="submit" type="submit" name="Submit" value="Submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
                <p id="error">Invalid url</p>
                <div id="results-div">
                    <div class="card-primary-light">
                        <h1 id="results-title">Analysis Results</h1>
                        <br/>
                        <div id="results"></div>
                        <br/>
                        <button id="back" class="button button-light">Back</button>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
